<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Classroom Corner</title>

    <meta name="description" content="N.Agency - Responisve Landing Page for Agency">
    <meta name="keywords" content="">
    <meta name="author" content="tabthemes">

    <!-- Favicons -->
    <link rel="shortcut icon" href="assets/img/CC1.png">
    <link rel="apple-touch-icon" sizes="57x57" href="assets/img/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="72x72" href="assets/img/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="assets/img/apple-touch-icon-114x114.png">

    <!-- Google Web Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link href="assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- CSS Files For Plugin -->
    <link href="assets/css/animate.css" rel="stylesheet">
    <link href="assets/css/font-awesome/font-awesome.min.css" rel="stylesheet">
    <link href="assets/css/magnific-popup.css" rel="stylesheet" />
    <link href="assets/css/YTPlayer.css" rel="stylesheet" />
    <link rel="stylesheet" href="assets/inc/owlcarousel/css/owl.carousel.min.css">
    <link rel="stylesheet" href="assets/inc/owlcarousel/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="assets/inc/revolution/css/settings.css" />
    <link rel="stylesheet" href="assets/inc/revolution/css/layers.css" />
    <link rel="stylesheet" href="assets/inc/revolution/css/navigation.css" />

    <!-- Custom CSS -->
    <link href="assets/css/style.css" rel="stylesheet">


</head>

<body class="blog_index" data-spy="scroll" data-target=".navbar-fixed-top" data-offset="100">


    <!-- Preloader -->
    <div id="preloader">
        <div id="spinner"></div>
    </div>
    <!-- End Preloader-->


    <!-- Start Navigation -->
    <header class="nav-solid" id="home">

        <nav class="navbar navbar-fixed-top">
            <div class="navigation">
                <div class="container-fluid">
                    <div class="row">

                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse"
                                data-target="#navbar-collapse">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>

                            <div class="logo-container">
                                <div class="logo-wrap local-scroll">
                                    <a href="/">
                                        <img class="logo" src="assets/img/CC.png" alt="logo" data-rjs="2">
                                    </a>
                                </div>
                            </div>
                        </div> <!-- end navbar-header -->


                        <div class="col-md-8 col-xs-12 nav-wrap">
                            <div class="collapse navbar-collapse" id="navbar-collapse">

                                <ul class="nav navbar-nav navbar-right">
                                    <li><a href="/student/announcements">Announcement</a></li>
                                    <li><a href="/student/quizzes">Quiz</a></li>
                                    <li><a href="/student/notes">Notes</a></li>
                                    <li><a href="/student/shop">Shop</a></li>
                                    <li><a href="/student/bought">Claim</a></li>

                                    <li><a href="/logout">Logout</a></li>
                                </ul>


                            </div>
                        </div> <!-- /.col -->
                    </div> <!-- /.row -->
                </div>
                <!--/.container -->
            </div> <!-- /.navigation-overlay -->
        </nav> <!-- /.navbar -->

    </header>
    <!-- End Navigation -->

    <!-- Section Title Blog -->
    <div class="section-title-bg text-center m-bottom-40">
        <h2 class="wow fadeInDown no-margin" data-wow-duration="1s" data-wow-delay="0.6s"><strong>Shop</strong></h2>
        <div class="divider-center-small wow zoomIn" data-wow-duration="1s" data-wow-delay="0.6s"></div>
        <p class="section-subtitle wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s">Want to sell your books or
            related college stuffs.. Click here!!</p>
        <a href="/student/shopform" class="btn btn-main btn-theme wow fadeInUp" data-wow-delay="0.5s">SELL</a>

    </div>


    <!--BLog single section-->
    <section class="blog-index" style="margin-top: -5em;">

        <!--Container-->
        <div class="container clearfix">
            <div class="row multi-columns-row">


                <!-- === Blog item 1 === -->
                <% for( let i=0; i < data.length; i++ ) { %>

                    <div class="col-sm-6 m-bottom-40">
                        <div class="blog wow zoomIn" data-wow-duration="1s" data-wow-delay="0.7s">
                            <!-- <div class="blog-media">
                            <a  href="blog_single_post.html"><img src="img/blog/b1.jpg" alt=""></a>
                        </div>         -->

                            <div class="blog-post-info clearfix">
                                <h5>
                                    <%= data[i].name %>
                                </h5>
                            </div>
                            <!--post info-->

                            <div class="blog-post-body">
                                <h4><a class="title">
                                        <%= data[i].seller %>
                                    </a></h4>
                                <p class="p-bottom-5">Product Desc: <%= data[i].desc %>
                                </p>
                                <p class="p-bottom-5">Amount: &#8377;<%= data[i].amount %>
                                </p>
                                <p class="p-bottom-5">Email: <%= data[i].email %>
                                </p>
                                <p class="p-bottom-5">Phone no.: <%= data[i].phone %>
                                </p>
                                <form action="/student/buy" method="post">
                                    <input type="hidden" name="id" value="<%= data[i].id %>">
                                    <input type="hidden" name="email" value="<%= data[i].email %>">
                                    <input type="hidden" name="name" value="<%= data[i].name %>">
                                    <button class="send_message btn btn-main btn-theme wow fadeInUp"
                                        type="submit">Buy</button>
                                </form>
                            </div>
                            <!--post body-->
                        </div> <!-- /.blog -->
                    </div> <!-- /.inner-col -->
                    <% } %>


                        <div class="col-xs-12">

                            <div class="row multi-columns-row">

                                <!-- Widget 1 -->

                                <!-- Widget 2 -->


                                <!--Widget 3-->
                                <!--End widget-->

                                <!--Widget 4-->
                                <!--End widget-->

                            </div> <!-- /.inner-row -->

                        </div> <!-- /.col -->

            </div> <!-- /.row -->
        </div> <!-- /.container -->

    </section>
    <!--End blog single section-->


    <!-- Start Footer -->
    <footer class="site-footer" style="margin-top: 140px;">
        <div class="container">
            <small class="copyright pull-left" style="align-items: center;">MADE WITH ❤️ BY KODERZ</small>
            <!-- /social-icon -->
        </div>
        <!-- /container -->
    </footer>
    <!-- End Footer -->


    <!-- Back to top -->
    <a href="#" id="back-to-top" title="Back to top"><i class="fa fa-angle-up"></i></a>
    <!-- /Back to top -->


    <!-- jQuery -->
    <script src="assets/js/jquery.min.js"></script>

    <!-- Bootstrap -->
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>

    <!-- Components Plugin -->
    <script src="assets/js/jquery.easing.1.3.js"></script>
    <script src="assets/js/smooth-scroll.js"></script>
    <script src="assets/js/jquery.appear.js"></script>
    <script src="assets/js/jquery.countTo.js"></script>
    <script src="assets/js/jquery.stellar.min.js"></script>
    <script src="assets/js/jquery.magnific-popup.min.js"></script>
    <script src="assets/js/imagesloaded.pkgd.min.js"></script>
    <script src="assets/js/isotope.pkgd.min.js"></script>
    <script src="assets/js/jquery.mb.YTPlayer.js"></script>
    <!-- <script src="js/retina.min.js"></script> -->
    <script src="assets/js/wow.min.js"></script>
    <script src="assets/inc/owlcarousel/js/owl.carousel.min.js"></script>

    <!-- Custom Plugin -->
    <script src="assets/js/custom.js"></script>

</body>

</html>