<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Classroom Corner</title>

    <meta name="description" content="N.Agency - Responisve Landing Page for Agency">
    <meta name="keywords" content="">
    <meta name="author" content="tabthemes">

    <!-- Favicons -->
    <link rel="shortcut icon" href="assets/img/CC1.png">
    <link rel="apple-touch-icon" sizes="57x57" href="assets/img/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="72x72" href="assets/img/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="assets/img/apple-touch-icon-114x114.png">

    <!-- Google Web Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link href="assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- CSS Files For Plugin -->
    <link href="assets/css/animate.css" rel="stylesheet">
    <link href="assets/css/font-awesome/font-awesome.min.css" rel="stylesheet">
    <link href="assets/css/magnific-popup.css" rel="stylesheet" />
    <link href="assets/css/YTPlayer.css" rel="stylesheet" />
    <link rel="stylesheet" href="assets/inc/owlcarousel/css/owl.carousel.min.css">
    <link rel="stylesheet" href="assets/inc/owlcarousel/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="assets/inc/revolution/css/settings.css" />
    <link rel="stylesheet" href="assets/inc/revolution/css/layers.css" />
    <link rel="stylesheet" href="assets/inc/revolution/css/navigation.css" />

    <!-- Custom CSS -->
    <link href="assets/css/style.css" rel="stylesheet">
    <link href="assets/css/createq.css" rel="stylesheet">

</head>

<body>
    <header class="nav-solid" id="home">
        <nav class="navbar navbar-fixed-top">
            <div class="navigation">
                <div class="container-fluid">
                    <div class="row">

                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse"
                                data-target="#navbar-collapse">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>

                            <!-- Logo -->
                            <div class="logo-container">
                                <div class="logo-wrap local-scroll">
                                    <a href="#home">
                                        <img class="logo" src="assets/img/CC.png" alt="logo" data-rjs="2">
                                    </a>
                                </div>
                            </div>
                        </div> <!-- end navbar-header -->

                        <div class="col-md-8 col-xs-12 nav-wrap">
                            <div class="collapse navbar-collapse" id="navbar-collapse">

                                <ul class="nav navbar-nav navbar-right">
                                    <li><a href="/announcement">Announcement</a></li>
                                    <li><a href="/test">Test </a></li>
                                    <li><a href="/shop">Shop</a></li>

                                    <li><a href="/logout">Logout</a></li>
                                </ul>

                            </div>
                        </div> <!-- /.col -->

                    </div>
                </div>
            </div>
        </nav>
    </header>

    <div class="container mt-5">
        <div class="d-flex justify-content-center row">
            <div class="col-md-10 col-lg-10">
                <div class="border">
                    <div class="question bg-white p-3 border-bottom">
                        <!-- <div class="mcq">
                                <h4>Total marks: 25</h4>
                            </div> -->
                    </div>
                    <div class="question bg-white p-3 border-bottom">
                        <h3>
                            <%= topic %>
                        </h3><br>
                        <div class="d-flex flex-row align-items-center question-title">
                            <form class="w3-container" method="post" action="/student/quiz/<%= topic %>/done">
                                <% for( let i = 0; i < data.length; i++ ) { %>
                                
                                <h5><%= data[i].ques %> </h5>

                                <input type="radio" id="opt1" name="<%= i %>" value="<%= data[i].opt1 %>">
                                <label for="opt1"><%= data[i].opt1 %></label><br><br>

                                <input type="radio" id="opt2" name="<%= i %>" value="<%= data[i].opt2 %>">
                                <label for="opt2"><%= data[i].opt2 %></label><br><br>

                                <input type="radio" id="opt3" name="<%= i %>" value="<%= data[i].opt3 %>">
                                <label for="opt3"><%= data[i].opt3 %></label><br><br>

                                <input type="radio" id="opt4" name="<%= i %>" value="<%= data[i].opt4 %>">
                                <label for="opt4"><%= data[i].opt4 %></label><br><br>
                                <br>
                                <% } %>
                                <button id="subb" type="submit" name="submit">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer class="site-footer" style="margin-top: 140px;">
        <div class="container">
            <small class="copyright pull-left" style="align-items: center;">MADE WITH ❤️ BY KODERZ</small>
            <!-- /social-icon -->
        </div>
        <!-- /container -->
    </footer>

</body>

        <footer class="site-footer" style="margin-top: 140px;">
            <div class="container">
                <small class="copyright pull-left" style="align-items: center;">MADE WITH ❤️ BY KODERZ</small>
                <!-- /social-icon -->
            </div>
            <!-- /container -->
        </footer>

        <script>
            window.onload = function () {
               var minute = 29;
               var sec = 60;
               setInterval(function () {
                  document.getElementById("timer").innerHTML =
                     minute + " : " + sec;
                  sec--;
                  if (sec == 00) {
                     minute--;
                     sec = 60;
                     if (minute == 0) {
                        minute = 30;
                     }
                    if (minute < 0) {
                  
                     document.getElementById("timer").innerHTML = "EXPIRED";
                    } 
                  }
               }, 1000);
            };
         </script>
        
    </body>
</html>